.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  align-items: center;
  font-weight: bold;
}

.container > li {
  flex-grow: 1;
}
