.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 8px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.img {
  height: 100%;
  margin: 0 12px 0 8px;
}

.img img {
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title h1,
.title h2 {
  margin: 0;
  padding: 0;
}

.title h1 {
  font-size: 18px;
  line-height: 18px;
}

.title h2 {
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}
